In [4]:
from io import BytesIO 
import requests
import pandas as pd

### Fetch & Load the dataset

In [ ]:
url = "https://catalog.ourworldindata.org/garden/covid/latest/compact/compact.csv"

# GET Request for the dataset url
response = requests.get(url)
response.raise_for_status()

# Load data to Pandas DataFrame
csv_data = BytesIO(response.content)
covid19_data = pd.read_csv(csv_data)
covid19_data.head()

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462

### Basic infos about the dataset

In [ ]:
# Memory Usage in megabytes
print(f"Dataset's memory size: {covid19_data.memory_usage().sum()/1e6:.1f} MB")

Dataset's memory size: 222.9 MB

In [ ]:
# Dataset's Shape & Size
print(f"Number of Columns: {covid19_data.shape[1]}")
print(f"Number of Rows(observations): {covid19_data.shape[0]}")

print(f"Size: {covid19_data.size}")

Number of Columns: 61
Number of Rows(observations): 456850
Size: 27867850

In [ ]:
# Features(Columns)'s data types
print(covid19_data.dtypes)

country                        object
date                           object
total_cases                   float64
new_cases                     float64
new_cases_smoothed            float64
                               ...
extreme_poverty               float64
diabetes_prevalence           float64
handwashing_facilities        float64
hospital_beds_per_thousand    float64
human_development_index       float64
Length: 61, dtype: object

In [39]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456850 entries, 0 to 456849
Data columns (total 61 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   country                                     456850 non-null  object
 1   date                                        456850 non-null  object
 2   total_cases                                 445000 non-null  float64
 3   new_cases                                   442885 non-null  float64
 4   new_cases_smoothed                          441664 non-null  float64
 5   total_cases_per_million                     445000 non-null  float64
 6   new_cases_per_million                       442885 non-null  float64
 7   new_cases_smoothed_per_million              441664 non-null  float64
 8   total_deaths                                445000 non-null  float64
 9   new_deaths                                  443471 non-null  float64
 10  new_deaths_smoothed                         442254 non-null  float64
 11  total_deaths_per_million                    445000 non-null  float64
 12  new_deaths_per_million                      443471 non-null  float64
 13  new_deaths_smoothed_per_million             442254 non-null  float64
 14  excess_mortality                            13572 non-null   float64
 15  excess_mortality_cumulative                 13572 non-null   float64
 16  excess_mortality_cumulative_absolute        13572 non-null   float64
 17  excess_mortality_cumulative_per_million     13538 non-null   float64
 18  hosp_patients                               40656 non-null   float64
 19  hosp_patients_per_million                   40656 non-null   float64
 20  weekly_hosp_admissions                      24497 non-null   float64
 21  weekly_hosp_admissions_per_million          24497 non-null   float64
 22  icu_patients                                39116 non-null   float64
 23  icu_patients_per_million                    39116 non-null   float64
 24  weekly_icu_admissions                       10993 non-null   float64
 25  weekly_icu_admissions_per_million           10993 non-null   float64
 26  stringency_index                            202760 non-null  float64
 27  reproduction_rate                           185683 non-null  float64
 28  total_tests                                 79387 non-null   float64
 29  new_tests                                   75403 non-null   float64
 30  total_tests_per_thousand                    79387 non-null   float64
 31  new_tests_per_thousand                      75403 non-null   float64
 32  new_tests_smoothed                          103965 non-null  float64
 33  new_tests_smoothed_per_thousand             103965 non-null  float64
 34  positive_rate                               102359 non-null  float64
 35  tests_per_case                              101444 non-null  float64
 36  total_vaccinations                          83222 non-null   float64
 37  people_vaccinated                           79011 non-null   float64
 38  people_fully_vaccinated                     77011 non-null   float64
 39  total_boosters                              58784 non-null   float64
 40  new_vaccinations                            68876 non-null   float64
 41  new_vaccinations_smoothed                   202840 non-null  float64
 42  total_vaccinations_per_hundred              83222 non-null   float64
 43  people_vaccinated_per_hundred               79011 non-null   float64
 44  people_fully_vaccinated_per_hundred         77011 non-null   float64
 45  total_boosters_per_hundred                  58784 non-null   float64
 46  new_vaccinations_smoothed_per_million       202840 non-null  float64
 47  new_people_vaccinated_smoothed              202840 non-null  float64
 48  new_people_vaccinated_smoothed_per_hundred  202840 non-null  float64
 49  code                                        436110 non-null  object
 50  continent                                   421810 non-null  object
 51  population                                  441390 non-null  float64
 52  population_density                          434265 non-null  float64
 53  median_age                                  436050 non-null  float64
 54  life_expectancy                             0 non-null       float64
 55  gdp_per_capita                              356249 non-null  float64
 56  extreme_poverty                             286993 non-null  float64
 57  diabetes_prevalence                         384774 non-null  float64
 58  handwashing_facilities                      206881 non-null  float64
 59  hospital_beds_per_thousand                  274919 non-null  float64
 60  human_development_index                     365715 non-null  float64
dtypes: float64(57), object(4)
memory usage: 212.6+ MB
None

We see that there are 57 numerical cols and 4 categorical ones.