In [1]:
from io import BytesIO
import requests
import pandas as pd

### Fetch & Load the dataset

In [2]:
url = "https://catalog.ourworldindata.org/garden/covid/latest/compact/compact.csv"

# GET Request for the dataset url
response = requests.get(url)
response.raise_for_status()

# Load data to Pandas DataFrame
csv_data = BytesIO(response.content)
covid19_data = pd.read_csv(csv_data)
covid19_data.head()

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578846.0,62.215546,16.752,NaN,1516.2733,NaN,10.9,48.214695,0.39,0.462

### Basic infos about the dataset

In [5]:
# Memory Usage in megabytes
print(f"Dataset's memory size: {covid19_data.memory_usage().sum()/1e6:.1f} MB")

Dataset's memory size: 223.8 MB

In [10]:
# Dataset's Shape & Size
print(f"Number of Columns: {covid19_data.shape[1]}")
print(f"Number of Rows(observations): {covid19_data.shape[0]}")

print(f"Size: {covid19_data.size}")

Number of Columns: 61
Number of Rows(observations): 458548
Size: 27971428

In [11]:
# Features(Columns)'s data types
print(covid19_data.dtypes)

country                        object
date                           object
total_cases                   float64
new_cases                     float64
new_cases_smoothed            float64
                               ...
extreme_poverty               float64
diabetes_prevalence           float64
handwashing_facilities        float64
hospital_beds_per_thousand    float64
human_development_index       float64
Length: 61, dtype: object

In [12]:
print(covid19_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458548 entries, 0 to 458547
Data columns (total 61 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   country                                     458548 non-null  object
 1   date                                        458548 non-null  object
 2   total_cases                                 446750 non-null  float64
 3   new_cases                                   444606 non-null  float64
 4   new_cases_smoothed                          443386 non-null  float64
 5   total_cases_per_million                     446750 non-null  float64
 6   new_cases_per_million                       444606 non-null  float64
 7   new_cases_smoothed_per_million              443386 non-null  float64
 8   total_deaths                                446750 non-null  float64
 9   new_deaths                                  445200 non-null  float64
 10  new_deaths_smoothed                         443983 non-null  float64
 11  total_deaths_per_million                    446750 non-null  float64
 12  new_deaths_per_million                      445200 non-null  float64
 13  new_deaths_smoothed_per_million             443983 non-null  float64
 14  excess_mortality                            13572 non-null   float64
 15  excess_mortality_cumulative                 13572 non-null   float64
 16  excess_mortality_cumulative_absolute        13572 non-null   float64
 17  excess_mortality_cumulative_per_million     13538 non-null   float64
 18  hosp_patients                               40656 non-null   float64
 19  hosp_patients_per_million                   40656 non-null   float64
 20  weekly_hosp_admissions                      24497 non-null   float64
 21  weekly_hosp_admissions_per_million          24497 non-null   float64
 22  icu_patients                                39116 non-null   float64
 23  icu_patients_per_million                    39116 non-null   float64
 24  weekly_icu_admissions                       10993 non-null   float64
 25  weekly_icu_admissions_per_million           10993 non-null   float64
 26  stringency_index                            202760 non-null  float64
 27  reproduction_rate                           185683 non-null  float64
 28  total_tests                                 79387 non-null   float64
 29  new_tests                                   75403 non-null   float64
 30  total_tests_per_thousand                    79387 non-null   float64
 31  new_tests_per_thousand                      75403 non-null   float64
 32  new_tests_smoothed                          103965 non-null  float64
 33  new_tests_smoothed_per_thousand             103965 non-null  float64
 34  positive_rate                               102359 non-null  float64
 35  tests_per_case                              101444 non-null  float64
 36  total_vaccinations                          83222 non-null   float64
 37  people_vaccinated                           79011 non-null   float64
 38  people_fully_vaccinated                     77011 non-null   float64
 39  total_boosters                              58784 non-null   float64
 40  new_vaccinations                            68876 non-null   float64
 41  new_vaccinations_smoothed                   202840 non-null  float64
 42  total_vaccinations_per_hundred              83222 non-null   float64
 43  people_vaccinated_per_hundred               79011 non-null   float64
 44  people_fully_vaccinated_per_hundred         77011 non-null   float64
 45  total_boosters_per_hundred                  58784 non-null   float64
 46  new_vaccinations_smoothed_per_million       202840 non-null  float64
 47  new_people_vaccinated_smoothed              202840 non-null  float64
 48  new_people_vaccinated_smoothed_per_hundred  202840 non-null  float64
 49  code                                        437752 non-null  object
 50  continent                                   423396 non-null  object
 51  population                                  443053 non-null  float64
 52  population_density                          435900 non-null  float64
 53  median_age                                  437692 non-null  float64
 54  life_expectancy                             0 non-null       float64
 55  gdp_per_capita                              357588 non-null  float64
 56  extreme_poverty                             288068 non-null  float64
 57  diabetes_prevalence                         386225 non-null  float64
 58  handwashing_facilities                      207687 non-null  float64
 59  hospital_beds_per_thousand                  275952 non-null  float64
 60  human_development_index                     367097 non-null  float64
dtypes: float64(57), object(4)
memory usage: 213.4+ MB
None

We see that there are 57 numerical cols and 4 categorical ones.

### Sampling
We see that this dataset is big with nearly half million observations, which is too big for EDA.So to reduce the dataset size and focus our Exploratory Data Analysis.<br>
We will select few countries and focus on them.

In [4]:
covid19_data.country.unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Asia excl. China',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'England', 'England & Wales',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union (27)', 'Falkland Islands',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania',
       'Russia', 'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Summer Olympics 2020', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
       'Tokelau', 'Tonga', 'Transnistria', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wales',
       'Wallis and Futuna', 'Western Sahara', 'Winter Olympics 2022',
       'World', 'World excl. China', 'World excl. China and South Korea',
       'World excl. China, South Korea, Japan and Singapore', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

We will continue with **Algeria**, **Saudi Arabia**, **Russia**, **Greenland**, **South Africa** and **Argentina**.

In [57]:
selected_countries = ['Algeria',"Saudi Arabia","Russia","Greenland","South Africa","Argentina"]
subset_data = covid19_data[covid19_data['country'].isin(selected_countries)]

### Upload the Raw Data to the API

In [58]:
# Convert the DataFrame to Json format for transmition
subset_data_json = subset_data.to_json()

In [59]:
raw_data_url = "http://127.0.0.1:5000/raw_data"
response = requests.post(raw_data_url,json=subset_data_json)
print(response.status_code)

201